{% extends "layout.html" %}

{% block content %}

<h1>Equipo Informatico</h1>

<div>
	<br>
	<h2>Identificadores</h2><br>
	<label>IP: </label><span>10.0.3.81</span><br>
	<label>Nombre de Equipo: </label><span>JORDAN-HSJD</span><br>


	<h2>Componentes de Hardware</h2><br>
	<label>Procesador: </label><span>I7-10700</span><br>
	<label>Memoria RAM: </label><span>16 GB</span><br>
	<label>Placa Madre: </label><span>H510M PLUS V3</span><br>
	<label> Almacenamiento: </label><span>240 SSD</span><br>


	<h2>Componentes de Software</h2><br>
	<label>Sistema Operativo: Windows 10 Pro</label><br>
	<label>Programas mas significativos: Visual Studio Code, VNC, Office 365</label> <br>


	</div>





{% endblock %}