{% extends "layout.html" %}

{% block content %}

<h1>Edificio Central HSJD</h1>
<div class="card" style="width: 18rem;">
    <div class="card-header">
      PISOS DEL EDIFICIO CENTRAL
    </div>
    <ul class="list-group list-group-flush">
      <a class="button-card" href="{{ url_for('ec_subsuelo')}}"><li class="list-group-item">Subsuelo</li></a>
      <a class="button-card" href="{{ url_for('ec_planta_baja')}}"><li class="list-group-item">Planta Baja</li></a>
      <a class="button-card" href="{{ url_for('ec_primer_piso')}}"><li class="list-group-item">Primer Piso</li></a>
      <a class="button-card" href="{{ url_for('ec_segundo_piso')}}"><li class="list-group-item">Segundo Piso</li></a>
      <a class="button-card" href="{{ url_for('ec_tercer_piso')}}"><li class="list-group-item">Tercer Piso</li></a>
      <a class="button-card" href="{{ url_for('ec_cuarto_piso')}}"><li class="list-group-item">Cuarto Piso</li></a>
      <a class="button-card" href="{{ url_for('ec_quinto_piso')}}"><li class="list-group-item">Quinto Piso</li></a>
    </ul>
  </div>
{% endblock %}