{% extends "layout.html" %}
{% block titulo %} Principal {% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="card col-4" style="width: 18rem;">
        <a href="ed-central" class="button-card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU2FFnA67NBH3dv0HnNJ6CrnVhkjCEWA3oQ&amp;usqp=CAU" class="card-img-top" alt="Edificio Central de la casa Hospital San Juan de Dios">
              <div class="card-body">
                    <h5 class="card-title">Edificio Central</h5>
                    <p class="">Acá estan todos los departamentos y pisos del Edificio central
                                de la casa Hospital San Juan de Dios incluidos la Guardia y CAI 
                    </p>
              </div>
        </a>
    </div>

    <div class="card col-4" style="width: 18rem;">
            <a href="/subsuelo" class="button-card">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU2FFnA67NBH3dv0HnNJ6CrnVhkjCEWA3oQ&amp;usqp=CAU" class="card-img-top" alt="Subsuelo de la casa Hospital San Juan de Dios">
                  <div class="card-body">
                        <h5 class="card-title">Subsuelo</h5>
                        <p class="">Acá podes encontrar departamentos como: Sistemas, Marketing, Honorarios, etc. 
                        </p>
                  </div>
            </a>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <a href="/ed-externos" class="button-card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU2FFnA67NBH3dv0HnNJ6CrnVhkjCEWA3oQ&amp;usqp=CAU" class="card-img-top" alt="Edificios Externos de la casa Hospital San Juan de Dios">
              <div class="card-body">
                    <h5 class="card-title">Edificios Externos</h5>
                    <p class="">Acá podes encontrar departamentos como: Mantenimiento, Compras, Ingeniería, Abastecimiento, etc. 
                    </p>
              </div>
        </a>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <a href="/ed-a" class="button-card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU2FFnA67NBH3dv0HnNJ6CrnVhkjCEWA3oQ&amp;usqp=CAU" class="card-img-top" alt="Edificio A de la casa Hospital San Juan de Dios">
              <div class="card-body">
                    <h5 class="card-title">Edificio A</h5>
                    <p class="">Acá estan todos los consultorios del Edificio A del Hospital San Juan de Dios
                    </p>
              </div>
        </a>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <a href="/ed-gerencial" class="button-card">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFU2FFnA67NBH3dv0HnNJ6CrnVhkjCEWA3oQ&amp;usqp=CAU" class="card-img-top" alt="Edificio Gerencial de la casa Hospital San Juan de Dios">
              <div class="card-body">
                    <h5 class="card-title">Edificio Gerencial</h5>
                    <p class="">Acá estan todos los departamentos y pisos del Edificio Gerencial, tales como: Facturación, Contabilidad, Tesorería, Contrataciones, etc.
                    </p>
              </div>
        </a>
    </div>

    

  </div>
</div>

{% endblock %}