{% extends "layout.html" %}
{% block titulo %}  {% endblock %}
{% block content %}

<h1> Sector </h1>
<div class="card" style="width: 18rem;">
    <div class="card-header item-lista-titulo">
      Listado de Computadoras
    </div>
    <ul class="list-group list-group-flush">

      
      {% set processed_values = [] %}

      {% for sector in sectores %}
          {% if sector[0] not in processed_values %}
              <a class="button-card" href="{{ url_for('computadora_informacion', sector=sector[0]) }}">
                  <li class="list-group-item item-lista"> {{ sector[0] }}</li>
              </a>
              {% set _ = processed_values.append(sector[0]) %}
          {% endif %}
      {% endfor %}      

    </ul>
  </div>

{% endblock %}